.title {
    color: var(--color-one);
    font-weight: bolder;
    margin-bottom: 10px;
}

.info {
    display: flex;
}

.names {
    color: var(--color-three);
    margin-bottom: 3px;
}

.about {
    color: gray;
}

.img img {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 40px;
    bottom: 6px;
    transition: 0.3s;
}

.img img:hover {
    opacity: 0.5;
}